* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
input {
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.wraper {
    background: url(images/bgc.png)center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.header__sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 20px;
}

.sidebar__adress {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%
}

.sidebar__tel {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
}

@media(max-width:767px) {
    .header__sidebar {
        padding: 10px 0 10px;
    }
}

.header__nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.nav__link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    box-sizing: border-box;
    border: 1px solid white;
    padding: 13px 0;

}

.nav__link:first-child {
    border-left: none;
}

.nav__link:last-child {
    border-right: none;
}

.first__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translate(-50%, -50%);

}

.button__card {
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 30px;
    background: #998431;
}

.button__card:first-child {
    margin-right: 30px;
}

@media(max-width:830px) {
    .button__card {
        padding: 7px 15px;

    }

    .button__card:first-child {
        margin-right: 10px;
    }
}

.block1 {
    background: #282828;
    text-align: center;
    padding: 100px 0;
    overflow: hidden;
}

.taste {
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    padding: 60px 0;
}

.taste__title {
    color: white;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    margin-bottom: 40px;
    padding-bottom: 40px;
    position: relative;
}

.taste__title::after {
    content: "";
    height: 1px;
    width: 160px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);

}

.taste__subtitle {
    color: white;
    font-family: 'Montserrat',
        sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    margin: 0 187px;
    margin-bottom: 50px;
}

.taste__img {
    margin-top: 60px;
    width: 14.5%;
}

@media(max-width:1023px) {
    .block1 {
        padding: 80px 0;
    }

    .taste {
        padding: 15px;
    }

    .taste__subtitle {
        margin: 0 100px;
    }
}

@media(max-width:767px) {
    .block1 {
        padding: 20px 0;
    }

    .taste__title {
        margin-bottom: 20px;
        padding-bottom: 10px;
        font-size: 30px;
    }

    .taste__subtitle {
        margin: 0 0 10px 0;
    }

    .taste__img {
        margin: 0;
    }
}

.block2 {
    padding: 80px 0;
    background-color: rgb(230, 227, 196);
    overflow: hidden;
}

.harvest {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    border-top: 1px solid rgb(153, 132, 49);
    border-bottom: 1px solid rgb(153, 132, 49);
}

.harvest__text {
    max-width: 445px;
    margin-right: 15px;
    flex: 1 0 50%;
}

.harvest__suptitle {
    font-weight: normal;
    color: black;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 30px;
}

.harvest__title {
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
}

.harvest__title::after {
    content: "";
    background-color: black;
    height: 1px;
    width: 160px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.harvest__subtitle {
    font-family: 'Montserrat',
        sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #282828;
    margin-bottom: 30px;
}


.subtitle {
    margin-bottom: 45px;
}

.table__img {
    margin-bottom: 30px;
    width: 100%;
}

.harvest__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.harvest__button {
    font-family: 'Montserrat',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    padding: 15px 30px;
    background-color: rgb(153, 132, 49);
}

.harvest__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 64.6% 33.3%;
    gap: 30px;

}

.first__img {
    grid-column: 1/3;
}

@media(max-width:767px) {
    .block2 {
        padding: 20px 0;
    }

    .harvest {
        display: block;
        padding: 10px 0;
    }

    .harvest__text {
        margin: 0 auto;
        text-align: center;
        max-width: 700px
    }

    .harvest__suptitle {
        margin-bottom: 10px;
    }

    .harvest__title {
        margin-bottom: 10px;
        padding-bottom: 10px;
        font-size: 30px;
    }

    .harvest__title::after {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .harvest__subtitle {
        margin-bottom: 15px;
    }

    .table__img {
        margin-bottom: 15px;
        max-width: 445px;
    }

    .harvest__items {
        grid-template-rows: 500px 228px;
        margin-top: 30px;
        gap: 20px;
    }
}

@media(max-width:540px) {
    .harvest__items {
        display: block;
    }
}

.block3 {
    background-color: rgb(40, 40, 40);
    padding: 130px 0 100px;
    overflow: hidden;

}

.tasting {
    border: 1px solid white;
    padding-bottom: 100px;
    position: relative;
}

.tasting__inner {
    max-width: 540px;
    margin: 0 auto;

}

.tasting__title {
    color: white;
    font-style: normal;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    padding: 10px 50px;
    background-color: rgb(40, 40, 40);
    margin-bottom: 30px;
    margin-top: -40px;
}



.tasting__subtitle {
    font-family: 'Montserrat',
        sans-serif;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 40px;
    margin-bottom: 80px;
    position: relative;
}

.tasting__subtitle::before {
    content: "";
    position: absolute;
    width: 118px;
    height: 1px;
    background-color: white;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tasting__name {
    border: none;
    border-bottom: 1px solid white;
    width: 46%;
    margin-right: 35px;
    margin-bottom: 40px;
}

.tasting__tel {
    border: none;
    border-bottom: 1px solid white;
    width: 46%;
}

.testing__butic {
    display: block;
    width: 99%;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 60px;
}

.input {
    font-family: 'Montserrat',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: #FFFFFF;
    background-color: rgb(40, 40, 40);
}

.tasting__button {
    display: block;
    padding: 20px 0;
    font-family: 'Montserrat',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid white;
}

.tasting__img {
    position: absolute;
    top: -75px;
    left: -15px;
    width: 23%;
}

.tasting__img1 {
    position: absolute;
    top: -57px;
    right: -38px;
    width: 23%;
}

@media(max-width:1023px) {
    .block3 {
        padding: 80px 0 50px;
    }

    .tasting {
        padding-bottom: 50px;
    }

    .tasting__inner {
        max-width: 385px;
    }

    .tasting__title {
        padding: 10px 0;

    }

    .tasting__name {
        margin-right: 22px;
        margin-bottom: 20px;
    }

    .testing__butic {
        margin-bottom: 40px;
    }
}

@media(max-width:767px) {
    .block3 {
        padding: 60px 0 20px;
    }

    .tasting {
        padding-bottom: 20px;
    }

    .tasting__inner {
        max-width: 600px;
        padding: 0 10px;
    }

    .tasting__title {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .tasting__subtitle {
        padding-top: 50px;
        margin-bottom: 20px;
    }

    .tasting__name {
        margin-right: 30px;
    }

    .tasting__button {
        padding: 10px 0;
    }
}

@media(max-width:540px) {
    .tasting__title {
        max-width: 200px;

    }

    .tasting__inner {
        text-align: -webkit-center;
    }

    .tasting__name {
        width: 100%;
    }

    .tasting__tel {
        width: 100%;
        margin-bottom: 15px;
    }
}

.footer {
    padding: 50px 0;
    background-color: rgb(153, 132, 49);
}

.footer__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    border-top: 1px solid white;
}

.footer__nav_link {
    font-family: 'Montserrat',
        sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: white;
    text-decoration: none;
}

.footer__contact {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.lacorte {
    text-align: center;
    font-family: 'Montserrat',
        sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    border-right: 1px solid white;
    padding: 20px 0;
}

.contact__tel {
    font-family: 'Montserrat',
        sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    border-right: 1px solid white;
    text-align: center;
    padding: 20px 0;
}

.contact__img {
    border-right: 1px solid white;
    text-align: center;
    padding: 20px 0;
}

.icon__img {
    margin-right: 36px;
}

.icon__img:last-child {
    margin: 0;
}

.contact__email {
    text-align: center;
    font-family: 'Montserrat',
        sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 20px 0;
}

@media(max-width:870px) {
    .lacorte {
        font-size: 10px;
        padding: 10px 0;
    }

    .contact__tel {
        font-size: 10px;
        padding: 10px 0;
    }

    .contact__img {
        padding: 7px 0;
    }

    .contact__email {
        font-size: 10px;
        padding: 10px 0;
    }
}

@media(max-width:767px) {
    .footer {
        padding: 20px 0;
    }

    .footer__nav {
        padding: 10px 30px;
    }

    .footer__nav_link {
        font-size: 10px;
    }

    .icon__img {
        margin-right: 10px;
    }
}

@media(max-width:540px) {
    .footer__contact {
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
    }

    .footer {
        padding: 10px 0;
    }

    .footer__nav {
        padding: 10px 0;
    }

    .footer__nav_link {
        font-size: 8px;
    }

    .icon__img {
        margin-right: 3px;
    }

    .lacorte {
        font-size: 8px;
        padding: 10px 0;
    }

    .contact__tel {
        font-size: 8px;
        padding: 10px 0;
    }

    .contact__img {
        padding: 3px 0;
    }

    .contact__email {
        font-size: 8px;
        padding: 10px 0;
    }